<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BearNecessities4">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BearNecessities"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BearNecetties4">
        <activity android:name="com.example.BearNecessities4.AddEditOne" />
        <activity android:name="com.example.BearNecessities4.MainActivity" />
        <activity android:name="com.example.BearNecessities4.LoginActivity2" />
        <activity android:name="com.example.BearNecessities4.RegisterActivity2" />
        <activity android:name="com.example.BearNecessities4.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>